.notesArea {
  width: 100%;
  height: 100vh;
  background-color: #dae5f5;
}

.topGroupHead {
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 1.3rem;
  display: flex;
  background-color: #001f8b;

  gap: 1.2rem;
  width: 100%;
  height: 13%;
  align-items: center;
}

.topGroupHead img {
  margin-left: 1rem;
  width: 20px;
}

.textContainers {
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

.textContainers::-webkit-scrollbar {
  border-radius: 5px;
  background: #000000a1;
  width: 0.5rem;
}

.textContainers::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
  border: 1px solid #000000a1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20%;
  height: 100vh;
}

.centerHeadings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.centerHeadings img {
  max-width: 100%;
  min-width: 30%;
}

.heading {
  font-family: var(--roboto-font);
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 2.8rem;
}

.paraForNotesArea {
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 1.2rem;
  color: #292929;
  letter-spacing: 1px;
}

.encryptionTxt {
  display: flex;
  gap: 5px;
  margin-bottom: 1rem;
}

.encryptionTxt img {
  height: 21px;
}

.encryptionTxt p {
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.2rem;
  color: #292929;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .heading {
    font-size: 1.8rem;
  }

  .paraForNotesArea,
  .encryptionTxt p {
    font-size: 1rem;
  }

  .encryptionTxt img {
    height: 17px;
  }
}

@media screen and (max-width: 500px) {
  .topGroupHead {
    font-size: 1.2rem;
    gap: 1rem;
  }

  .textContainers {
    height: calc(100% - (13% + 31.5%));
  }
}
