.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 1.3rem;
  height: 80px;

  border-radius: 1rem;
  margin-bottom: 5px;
  margin-right: 10px;
  cursor: pointer;
  overflow-wrap: break-word;
}
.container:hover {
  transform: scale(1.1);
  width: 95%;
  background: #2f2f2f2b;
}

@media screen and (max-width: 500px) {
  .container {
    font-size: 1.1rem;
  }
}
