.icon {
  height: 60px;
  min-width: 60px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}

@media screen and (max-width: 500px) {
  .icon {
    height: 55px;
    min-width: 55px;
  }
}
