.sideBar {
  width: 35%;
  height: 100vh;
}

.heading {
  pointer-events: none;
  font-family: var(--roboto-font);
  font-weight: 500;
  top: 0;
  position: sticky;
  display: flex;
  height: 6.25rem;
  font-size: 1.875rem;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.groupArea {
  height: 84%;
  overflow-y: auto;
}

.groupArea::-webkit-scrollbar {
  border-radius: 5px;
  background-color: #d9d9d9;
  width: 0.5rem;
}

.groupArea::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.addGroup {
  font-family: var(--roboto-font);
  font-weight: 500;
  background-color: #16008b;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 70px;
  position: fixed;
  bottom: 15px;
  left: 18%;
  cursor: pointer;
}

.unavailableDiv {
  margin-left: 10px;
  font-family: var(--roboto-font);
  font-weight: 500;
  font-size: 1.5rem;
  color: #9a9a9a;
}

@media screen and (max-width: 500px) {
  .sideBar {
    width: 100vw;
  }

  .addGroup {
    left: unset;
    right: 10%;
    width: 60px;
    height: 60px;
    font-size: 60px;
  }
  .heading {
    margin-left: 8%;
    justify-content: flex-start;
  }
}
