.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - (13% + 50%));
  background-color: #001f8b;
  border-bottom-left-radius: 20px;
}
.container > textarea {
  outline: none;
  height: 80%;
  width: 90%;
  resize: none;
  border-radius: 9px;
  border: 1px solid #cccccc;
  padding: 1rem 4.375rem 0 2rem;
  font-family: var(--roboto-font);
  font-weight: 400;
  font-size: 1.7rem;
  letter-spacing: 1px;
  color: #9a9a9a;
}

.container > textarea::placeholder {
  font-family: var(--roboto-font);
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.container > textarea::-webkit-scrollbar {
  border-radius: 10px;
  background: #d9d9d9;
  width: 0.5rem;
}

.container > textarea::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
}

.container > svg {
  position: absolute;
  bottom: 17%;
  right: 8%;
}

@media screen and (max-width: 500px) {
  .container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 31.5%;
  }

  .container > textarea {
    height: 70%;
    padding: 0.5rem 3rem 0 1rem;
    font-size: 1.1rem;
  }

  .container > svg {
    bottom: 24%;
    right: 8%;
    height: 25px;
  }

  .container > textarea::placeholder {
    font-size: 1.1rem;
  }
}
